<!-- INCLUDE header.tpl -->
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-edit"></i> {PAGENAME}</span>
                    </div>
                    <form name="deleteusers" action="" method="post">
                    <input type="hidden" name="action" value="update">
                    <input type="hidden" name="admincsrftoken" value="{_ACSRFTOKEN}">
					<div class="mws-panel-toolbar">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                            <input type="submit" name="submit" class="btn btn-success" value="{L_3500_1015467}">
                            </div>
                        </div>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <tbody>
	                            <tr>
	                            	<td>{ADSENSECONFIRM}</td>
	                            </tr>
	                            <tr>
 	                            	<td>
 	                            		<a href="https://u-auctions.com/wiki/doku.php?id=u-auctions_google_adsense" target="_blank">Banner Area 1</a></td>
				                    <td>
				                        <textarea id="header_1" name="header_1" cols="60" rows="10">{HEADER_ADSENSE_1}</textarea>
				                    </td>
				                </tr>
				                <tr>
	                            	<td>
	                            		<a href="https://u-auctions.com/wiki/doku.php?id=u-auctions_google_adsense" target="_blank">Banner Area 2</a>
	                            	</td>
				                    <td>
				                        <textarea id="index_2" name="index_2" cols="60" rows="10">{INDEX_ADSENSE_2}</textarea>
				                    </td>
				                </tr>
				                <tr>
	                            	<td>
	                            		<a href="https://u-auctions.com/wiki/doku.php?id=u-auctions_google_adsense" target="_blank">Banner Area 3</a>
	                            	</td>
				                    <td>
				                        <textarea id="index_1" name="index_1" cols="60" rows="10">{INDEX_ADSENSE_1}</textarea>
				                    </td>
				                </tr>
				                <tr>
	                            	<td>
	                            		<a href="https://u-auctions.com/wiki/doku.php?id=u-auctions_google_adsense" target="_blank">Banner Area 4</a>
	                            	</td>
				                    <td>
				                        <textarea id="index_3" name="index_3" cols="60" rows="10">{INDEX_ADSENSE_3}</textarea>
				                    </td>
				                </tr>
								<tr>
	                            	<td>
	                            		<a href="https://u-auctions.com/wiki/doku.php?id=u-auctions_google_adsense" target="_blank">Banner Area 5</a>
	                            	</td>
				                    <td>
				                        <textarea id="browse_1" name="browse_1" cols="60" rows="10">{BROWSE_ADSENSE_1}</textarea>
				                    </td>
				                </tr>
                           </tbody>
                        </table>
                    </div>
                    </form>    	
                </div>
<!-- INCLUDE footer.tpl -->