<!-- INCLUDE header.tpl -->
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> {PAGENAME}</span>
                    </div>
                    <form name="check" action="" method="post">
                    <input type="hidden" name="admincsrftoken" value="{_ACSRFTOKEN}">
					<div class="mws-panel-toolbar">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                            <input type="submit" name="action" class="btn btn-success" value="{L_089}">
                            </div>
                        </div>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                            	<tr>
                                	<th colspan="2">{L_3500_1015415}</th>
                                </tr>
                                <tr>
                                        <th>{L_394}</th>
                                        <th><input type="text" name="new_check" size="25" value=""></th>
                               </tr>
                                <tr>
                                	<th colspan="2">{L_5117}:&nbsp;{PREV}<!-- BEGIN pages -->{pages.PAGE}&nbsp;&nbsp;<!-- END pages -->{NEXT}
    									<span style="float:right"><!-- IF ISPAGES --><a href="{SITEURL}{ADMIN_FOLDER}/email_block.php?PAGE={SETPAGE}{SETSORTA}">{L_3500_1015419}</a>&nbsp;&nbsp;<a href="{SITEURL}{ADMIN_FOLDER}/email_block.php?PAGE={SETPAGE}{SETSORTZ}">{L_3500_1015420}</a> <!-- ELSE --> <a href="{SITEURL}{ADMIN_FOLDER}/email_block.php{SETSORTA}">{L_3500_1015419}</a>&nbsp;&nbsp;<a href="{SITEURL}{ADMIN_FOLDER}/email_block.php{SETSORTZ}">{L_3500_1015420}</a> <!-- ENDIF --></span>
                        			</th>
                                </tr>
                                <tr>
                                    <th>{L_3500_1015416}</th>
                                    <th>{L_008}</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!-- BEGIN check -->
                               <tr>
                                        <td><input type="hidden" name="emailid[]" value="{check.ID}">
                                			<input type="text" name="checkemails[]" value="{check.EMAIL_CHECKS}" size="75"></td>
                                        <td><input type="checkbox" name="delete[]" value="{check.ID}"></td>
                               </tr>
                               <!-- END check -->
                           </tbody>
                        </table>
                    </div>
                    </form>    	
                </div>
<!-- INCLUDE footer.tpl -->