<!-- INCLUDE header.tpl -->
				<!-- IF FEETYPE ne '' -->
                <div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> {FEETYPE}</span>
                    </div>
                    <form name="errorlog" action="" method="post">
                    <input type="hidden" name="action" value="update">
                    <input type="hidden" name="admincsrftoken" value="{_ACSRFTOKEN}">
                    <div class="mws-panel-toolbar">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <input type="submit" name="act" class="btn btn-success" value="{L_530}"> 
                            </div>
                        </div>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <!-- IF B_SINGLE -->
                            <tbody>
                                <tr>
                                    <td>{L_263}</td>
                                    <td><input type="text" size="12" name="value" value="{VALUE}"> {CURRENCY}</td>
                                </tr>
                            <!-- ELSE -->
                            	<thead>
                                	<tr>
                                        <th>&nbsp;</th>
                                        <th>{L_240} ({CURRENCY})</th>
                                        <th>{L_241} ({CURRENCY})</th>
                                        <th>{L_391} ({CURRENCY})</th>
                                    	<th>{L_392}</th>
                                        <th>{L_008}</th>
                                	</tr>
                            	</thead>
                                <tbody>
                                <!-- BEGIN fees -->
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="hidden" name="tier_id[]" value="{fees.ID}">
                                        <input name="fee_from[]" type="text" value="{fees.FROM}" size="9">
                                    </td>
                                    <td><input name="fee_to[]" type="text" value="{fees.TO}" size="9"></td>
                                    <td><input name="value[]" type="text" value="{fees.VALUE}" size="9"></td>
                                    <td>
                                        <select name="type[]">
                                            <option value="flat"{fees.FLATTYPE}>{L_393}</option>
                                            <option value="perc"{fees.PERCTYPE}>{L_357}</option>
                                        </select>
                                    </td>
                                    <td align="center"><input type="checkbox" name="fee_delete[]" value="{fees.ID}"></td>
                                </tr>
                				<!-- END fees -->
                <tr>
                                    <td>{L_394}</td>
                                    <td><input name="new_fee_from" type="text" size="9" value="{FEE_FROM}"></td>
                                    <td><input name="new_fee_to" type="text" size="9" value="{FEE_TO}"></td>
                                    <td><input name="new_value" type="text" size="9" value="{FEE_VALUE}"></td>
                                    <td>
                                        <select name="new_type">
                                            <option value="flat"<!-- IF FEE_TYPE eq 'flat' --> selected<!-- ENDIF -->>{L_393}</option>
                                            <option value="perc"<!-- IF FEE_TYPE eq 'perc' --> selected<!-- ENDIF -->>{L_357}</option>
                                        </select>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
            				<!-- ENDIF -->
                            </tbody>
                        </table>
                    </div>  
                    </form>  	
                </div>
                <!-- ENDIF -->
                
                <div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-stats"></i> {PAGENAME1}</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <tbody>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=signup_fee">{L_430}</a></td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=banner_fee">{L_350_10133}</a></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=ex_banner_fee">{L_350_10134}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-stats-up"></i> {PAGENAME2}</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <tbody>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=setup">{L_432}</a> </td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=relist_fee">{L_437}</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=hpfeat_fee">{L_433}</a> </td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=bolditem_fee">{L_439}</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=hlitem_fee">{L_434}</a> </td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=rp_fee">{L_440}</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=picture_fee">{L_435}</a> </td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=buyout_fee">{L_436}</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=buyer_fee">{L_775}</a></td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=endauc_fee">{L_791}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=subtitle_fee">{L_803}</a></td>
                                    <td><a href="{SITEURL}{ADMIN_FOLDER}/fees.php?type=excat_fee">{L_804}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

<!-- INCLUDE footer.tpl -->