            </div> 
        </div>
        <!--
			We request you retain the full copyright notice below including the link to www.u-auctions.com.
			This not only gives respect to the large amount of time given freely by the developers
			but also helps build interest, traffic and use of u-Auctions. If you (honestly) cannot retain
			the full copyright we ask you at least leave in place the "Powered by u-Auctions" line, with
			"u-Auctions" linked to https://u-auctions.com. If you must remove thte copyright message pelase make
            a donation at https://www.u-auctions.com/forum/donate.php to help pay for future developments
		-->
		<small><div align="center">Powered by <a href="https://www.u-auctions.com/">u-Auctions</a> &copy; 2013 - 2015 <a href="https://www.u-auctions.com/">u-Auctions</a></div></small>
        <!-- Main Container End -->
    </div>
</body>
</html>