<!-- INCLUDE header.tpl -->
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> {PAGENAME}</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <tbody>
                                <tr>
                                        <td colspan="2"><strong>{L_1062}</strong></td>
                                </tr>
                                <tr>
                                        <td><a href="https://www.u-auctions.com/forum/portal.php" target="_blank"><strong>{L_1063}</strong><a/></td>
                                        <td>{L_1064}</td>
                               </tr>
                               <tr>
                               			<td><a href="https://www.u-auctions.com/wiki" target="_blank"><strong>{L_3500_1015515}</strong><a/></td>
                                        <td>&nbsp;</td>	
                               </tr>

                               <tr>
                                        <td colspan="2"><strong>{L_1068}</strong></td>
    
                               </tr>
                               <tr>
                                        <td><a href="https://www.u-auctions.com/Themes" target="_blank"><strong>{L_1069}</strong></a></td>
                                        <td>{L_1070}</td>
                               </tr>
                               
                               <tr>
                                        <td><a href="https://www.u-auctions.com/Mods" target="_blank"><strong>{L_1071}</strong></a></td>
                                        <td>{L_1072}</td>
                               </tr>
                               
                               <tr>
                                        <td><a href="https://www.u-auctions.com/Languages" target="_blank"><strong>{L_1073}</strong></a></td>
                                    	<td>{L_1074}</td>
                                </tr>
                                <tr>
                                        <td colspan="2"><strong>{L_1075}</strong></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.u-auctions.com/forum/viewforum.php?f=22" target="_blank"><strong>{L_1076}</strong></a></td>
                                    <td>{L_1077}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.u-auctions.com/forum/donate.php" target="_blank"><strong>{L_1080}</strong></a></td>
                                    <td>{L_1081}</td>
                                </tr>
                           </tbody>
                        </table>
                    </div>	
                </div>
<!-- INCLUDE footer.tpl -->
