<link rel="stylesheet" type="text/css" href="{SITEURL}inc/calendar.css">
<!-- INCLUDE header.tpl -->
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> {L_103}</span>
                    </div>
                    <form action="" method="get">
                    <input type="hidden" name="admincsrftoken" value="{_ACSRFTOKEN}">
					<div class="mws-panel-toolbar">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                            <input type="submit" name="act" class="btn btn-success" value="{L_275}">
                            </div>
                        </div>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <tbody>
                            	<tr>
                            		<td>{L_313}</td>
                                    <td><input type="text" name="username" value="{USER_SEARCH}"></td>
                            	</tr>
                            	<tr>
                                	<td>{L_856}</td>
                                    <td><input type="text" name="from_date" id="from_date" value="{FROM_DATE}" size="20" maxlength="19">
										<script type="text/javascript">
                                            new tcal ({'id': 'from_date','controlname': 'from_date'});
                                        </script>
                                        -
                                        <input type="text" name="to_date" id="to_date" value="{TO_DATE}" size="20" maxlength="19">
                                        <script type="text/javascript">
                                            new tcal ({'id': 'to_date','controlname': 'to_date'});
                                        </script>
                                    </td>
                           		</tr>
                           </tbody>
                        </table>
                    </div>
                    </form>    	
                </div>
                
                <div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> {PAGENAME}</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                        	<thead>
                            	<!-- IF PAGNATION -->
                            	<tr>
                                	<th colspan="5">{L_5117}&nbsp;{PAGE}&nbsp;{L_5118}&nbsp;{PAGES}
                            			<br>
                                        {PREV}
										<!-- BEGIN pages -->
                            			{pages.PAGE}&nbsp;&nbsp;
										<!-- END pages -->
                            			{NEXT}</th>
                                </tr>
                                <!-- ENDIF -->
                                <tr>
                                    <th>{L_1041}</th>
                                    <!-- IF NO_USER_SEARCH -->
                                    <th>{L_313}</th>
                                    <!-- ENDIF -->
                                    <th>{L_1039}</th>
                                    <th>{L_1053}</th>
                                    <th>{L_560}</th>
                                </tr>
                            </thead>
                            
                            <tbody>
							<!-- BEGIN invoices -->
                            <tr>
                            		<td><span class="titleText125">{L_1041}: {invoices.INVOICE}</span>
										<p class="smallspan">{invoices.DATE}</p></td>
                        			<!-- IF NO_USER_SEARCH -->
                                    <td>{invoices.USER}</td>
                                    <!-- ENDIF -->
                                    <td>{invoices.INFO}</td>
                                    <td>{invoices.TOTAL}</td>
                                    <td><!-- IF invoices.PAID --><p>{L_898}</p><!-- ENDIF --><a href="{SITEURL}order_print.php?id={invoices.INVOICE}" tagret="_blank">{L_1058}</a></td>
                            </tr>
							<!-- END invoices -->
                           </tbody>
                        </table>
                    </div>  	
                </div>
<!-- INCLUDE footer.tpl -->